<configuration>
    <!-- Console Appender: Only Show INFO level -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- File Appender for ALL_LOGS -->
    <appender name="ALL_LOGS" class="ch.qos.logback.core.FileAppender">
        <file>logs/all_log.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Root Logger: Chỉ log INFO trở lên -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ALL_LOGS" />
    </root>
</configuration>
